.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background:url('/Users/umanginigam/Desktop/emotion/mental-health-site/src/pages/Premium Photo | Human brain tree with flowers and butterflies self care and mental health concept positive thinking creative mind Generative Ai.jpg') no-repeat center center/cover; */
  }
  
  /* Card styling */
  .login-card {
    background-color: #b0a7c7;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
  }
  
  /* Title styling */
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #031017;
  }
  
  /* Form styling */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Input styling */
  .login-input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease;
  }
  
  .login-input:focus {
    border-color: #007bff;
  }
  
  /* Button styling */
  .login-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  /* Sign-up text */
  .signup-text {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
  }
  
  .signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  