/* Container styling */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background:url('/Users/umanginigam/Desktop/emotion/mental-health-site/src/pages/Choosing the Perfect Logo Design for Your Business Graphic Design Junction.jpg') no-repeat center center/cover; */
    padding: 20px;
  }
  
  /* Card styling */
  .signup-card {
    background-color:rgb(247, 244, 241);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
  }
  
  /* Title styling */
  .signup-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Input field styling */
  .signup-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .signup-input:focus {
    border-color: #007bff;
  }
  
  /* Button styling */
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #5b99db;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-button:hover {
    background-color: #0f345d;
  }
  
  /* Link styling */
  .signup-login-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .signup-login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-login-link a:hover {
    text-decoration: underline;
  }
  